@model LostPasswordViewModel

<!DOCTYPE html>
<html lang="@Orchard.CultureName()" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <title>@T["Restore Password"]</title>
</head>
<body style="margin: 0 auto;padding: 0">
        <div class="wrapper" style="margin: 0 auto;    padding: 0;    font-family: 'Nunito', sans-serif;width: 600px;background-color: white">
            <header class="header">
                <table class="header__content" cellpadding="0" cellspacing="0" style="margin: 0 auto;padding: 0;align-content: center;width: 600px">
                    <tbody>
                        <tr>
                            <td class="logo" align="center" style="padding: 0 0 30px 0">
                                <img class="logo__image" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/header.png" alt="KeTePongo Header" style="border-style: none;width: 100%;height: 180px;display: block">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </header>
            <section class="content">
                <table class="body-main" align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;padding: 0;width: 100%">
                    <tbody>
                        <tr>
                            <td class="body-main__text" style="vertical-align: top;    width: 270px;    font-family: 'Nunito', sans-serif">
                                <p class="body-main__text__title" style="margin: 0 auto;padding: 0;padding-left: 20px;font-size: 28px;font-weight: 800;color: #381A56">Restablece tu contraseña</p>
                                <p class="body-main__text__subtitle" style="margin: 0 auto;padding: 0;padding-left: 20px;font-size: 18px;font-weight: 800;color: black;margin-top: 24px;margin-bottom: 16px">@T["Dear {0}", @Model.User.Name?? Model.User.UserName]</p>
                                <p class="body-main__text__paragraph" style="margin: 0 auto;padding: 0;padding-left: 20px;font-size: 18px;font-weight: 300;color: black;margin-bottom: 16px">@T["For restoring your password, <a href='{0}'>click here.</a>", @Model.LostPasswordUrl]</p>
                                <p class="body-main__text__paragraph" style="margin: 0 auto;padding: 0;padding-left: 20px;font-size: 18px;font-weight: 300;color: black;margin-bottom: 16px">@T["If you don't requested any password change, ignore this email"]</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </section>
            <footer>
                <table class="footer1" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="footer1__twitter">
                            <a href="http://www.twitter.com/">
                                <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/twitter.png" alt="twitter" border="0" />
                            </a>
                        </td>
                        <td class="footer1__youtube">
                            <a href="http://www.youtube.com/">
                                <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/youtube.png" alt="youtube" border="0" />
                            </a>
                        </td>
                        <td class="footer1__facebook">
                            <a href="http://www.facebook.com/">
                                <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/facebook.png" alt="facebook" border="0" />
                            </a>
                        </td>
                        <td class="footer1__instagram">
                            <a href="http://www.instagram.com/">
                                <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/instagram.png" alt="instagram" border="0" />
                            </a>
                        </td>
                        <td class="footer1__image">
                            <img class="footer1__logo" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/ketepongologo.png" alt="ketepongo" border="0" />
                        </td>
                    </tr>
                </table>
                <table class="footer2" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img class="footer2__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/emailicon.png" alt="contacto" border="0" />
                        </td>
                        <td class="footer2__content">
                            <p class="footer2__contact">@T["Contact"]</p>
                            <a>
                                <p class="footer2__email">app@ketepongo.com</p>
                            </a>
                        </td>
                    </tr>
                </table>
                <table class="footer3" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p class="footer3__text">@T["Your data are registered in a digital file property of Kefonet Software S.L. ..."]</p>
                            <p class="footer3__text">@T["Copyright 2020 KeTePongo, Reseverd all the rights."]</p>
                        </td>
                    </tr>
                </table>
            </footer>
        </div>
</body>
</html>