@using KeTePongo.Core.AppServices;
@using KeTePongo.UsersWebAPI.ViewModels
@using System.Linq
@model UserConfirmEmailViewModel
<!DOCTYPE html>

<html lang="@Orchard.CultureName()" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta charset="utf-8" />
    <title>@T["Confirmation account email"]</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <table class="header__content" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="logo" align="center">
                        <img class="logo__image" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/header.png" alt="@T["KeTePongo Header"]" />
                    </td>
                </tr>
            </table>
        </header>
        <section class="content">
            <table class="body-main" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="body-main__text">
                        <p class="body-main__text__title">@T["Verify your account"]</p>
                        <p class="body-main__text__subtitle">@T["Dear {0}", @Model.User.Name]</p>
                        <p class="body-main__text__paragraph">@T["This is your confirmation code:"]</p>
                        <p id="confirmationCode" class="body-main__text__subtitle">@Model.ConfirmationCode</p>
                    </td>
                </tr>
            </table>
        </section>
        <footer>
            <table class="footer1" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="footer1__twitter">
                        <a href="http://www.twitter.com/">
                            <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/twitter.png" alt="twitter" border="0" />
                        </a>
                    </td>
                    <td class="footer1__youtube">
                        <a href="http://www.youtube.com/">
                            <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/youtube.png" alt="youtube" border="0" />
                        </a>
                    </td>
                    <td class="footer1__facebook">
                        <a href="http://www.facebook.com/">
                            <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/facebook.png" alt="facebook" border="0" />
                        </a>
                    </td>
                    <td class="footer1__instagram">
                        <a href="http://www.instagram.com/">
                            <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/instagram.png" alt="instagram" border="0" />
                        </a>
                    </td>
                    <td class="footer1__image">
                        <img class="footer1__logo" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/ketepongologo.png" alt="ketepongo" border="0" />
                    </td>
                </tr>
            </table>
            <table class="footer2" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <img class="footer2__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/emailicon.png" alt="contacto" border="0" />
                    </td>
                    <td class="footer2__content">
                        <p class="footer2__contact">@T["Contact"]</p>
                        <a>
                            <p class="footer2__email">app@ketepongo.com</p>
                        </a>
                    </td>
                </tr>
            </table>
            <table class="footer3" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p class="footer3__text">@T["Your data are registered in a digital file property of Kefonet Software S.L. ..."]</p>
                        <p class="footer3__text">@T["Copyright 2020 KeTePongo, Reseverd all the rights."]</p>
                    </td>
                </tr>

            </table>
        </footer>
    </div>

</body>
</html>