@using KeTePongo.Core.AppServices;
@using KeTePongo.CommerceWebAPI.ViewModels;
@using KeTePongo.CommerceWebAPI.Models;
@model KeTePongo.CommerceWebAPI.ViewModels.OrderSummaryProofEmailForCommerceViewModel;

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&display=swap" rel="stylesheet">
    <meta charset="utf-8" name="viewport" content="width=device-width, user-scalable=no" />
    <title>@T["Confirmación de pedido de Ketepongo"]</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <table class="header__content" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="logo" align="center">
                        <img class="logo__image" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/header.png" alt="Ketepongo Header" />
                    </td>
                </tr>
            </table>
        </header>
        <section class="content">
            <table class="body-main" align="center" cellpadding="0" cellspacing="0">
                <tr class="sub-header" ">
                    <td class="body-main__order">
                        <p class="body-main__title">@T["Your orders have been sent!"]</p>
                    </td>
                    <td>
                        <img class="check-illustration" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/Check-Pedido-en-marcha.png" />
                    </td>

            </table>

            @foreach (SubOrder suborder in Model.Order.SubOrders)
            {
                <table class="body-main__header">
                    <tr>
                        <td><p class="header_title">@suborder.Provider.TradeName</p></td>
                        <td><p class="header_text">@suborder.Provider.Salesman.Name</p><p class="header_text">@suborder.Provider.Salesman.Telephone</p><p class="header_text">@suborder.Provider.Salesman.Email</p></td>
                    </tr>
                </table>

                <table class="products-header">
                    <thead class="products-header__header">
                        <tr>
                            <th class="products-header__item">@T["Ref"].</th>
                            <th class="products-header__item">@T["PRODUCT"]</th>
                            <th class="products-header__item">@T["Quant."]</th>
                        </tr>
                    </thead>

                    @foreach (CommerceOrderLine orderLine in suborder.OrderLines)
                    {

                        <tbody class="products__data">


                            <tr class="products__item-row">
                                @if (suborder.ProviderOrderOID != null)
                                {
                                    <td class="products__info-ref">@orderLine.Product.ProviderForeignReference</td>
                                    <td class="products__info-name">@orderLine.Product.Name</td>
                                }
                                else
                                {
                                    <td class="products__info-ref"> - </td>
                                    <td class="products__info-name">@orderLine.Product.Name</td>
                                }
                                <td class="products__info-quantity">@orderLine.Quantity</td>

                            </tr>
                            <tr class="product__item-observation">
                                <td colspan="3" class="products__info-observation">@orderLine.Observation</td>
                            </tr>

                        </tbody>

                    }

                    <div class="body-main__maincomments">
                        <p class="maincomments__title">@T["General comments:"]</p>
                        <p class="maincomments__paragraph">@suborder.Observation</p>
                    </div>

                </table>
            }

            <table class="body-main__warning">
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <p class="warning_title"></p>
                        <p class="warning_text"></p>
                    </td>

                </tr>
            </table>

            @*<table class="body-main__warning">
                    <tr>
                        <td><img class="warningIcon" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/warning.png" alt="warning" border="0" /></td>
                        <td><img class="ktp_warningIcon" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/Group-132.png" alt="logo ketepongo" border="0" /></td>
                        <td>
                            <p class="warning_detail">@T["Your provider is not using ketepongo"]</p>
                            <p class="warning_subdetail">@T["Inform it because making orders will be easier and fattest for both of you"]</p>
                        </td>

                    </tr>
                </table>*@

            @*<table class="body-main__warning">
                    <tr>
                        <td><img class="warningIcon" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/warning.png" alt="warning" border="0" /></td>
                        <td><img class="ktp_warningIcon" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/Group-132.png" alt="logo ketepongo" border="0" /></td>
                        <td>
                            <p class="warning_detail">@T["Your provider is not using ketepongo"]</p>
                            <p class="warning_subdetail">Pídele que enlace su ERP al sistema, así tendrás todas sus referencias integradas y todo será más fácil para ambos.</p>
                        </td>

                    </tr>
                </table>*@

            <div class="after-body_square">
                <p class="square-info__subtitle">@Model.Commerce.TradeName</p>
                <p class="square-info__text">@Model.Commerce.Address</p>
                <p class="square-info__text">@Model.Commerce.Telephone</p>
            </div>
            <div class="illustration">
                <img src="https://www.pccom.es/cms/wp-content/uploads/2020/09/Ilustración-PEdido-en-marcha-e1599580208635.png" />
            </div>
            <footer>
                <table class="footer1" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="footer1__twitter">
                            <a href="http://www.twitter.com/">
                                <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/twitter.png" alt="twitter" border="0" />
                            </a>
                        </td>
                        <td class="footer1__youtube">
                            <a href="http://www.youtube.com/">
                                <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/youtube.png" alt="youtube" border="0" />
                            </a>
                        </td>
                        <td class="footer1__facebook">
                            <a href="http://www.facebook.com/">
                                <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/facebook.png" alt="facebook" border="0" />
                            </a>
                        </td>
                        <td class="footer1__instagram">
                            <a href="http://www.facebook.com/">
                                <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/instagram.png" alt="instagram" border="0" />
                            </a>
                        </td>
                        <td class="footer1__image">
                            <img class="footer1__logo" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/ketepongologo.png" alt="ketepongo" border="0" />
                        </td>
                    </tr>
                </table>
                <table class="footer2" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img class="footer2__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/emailicon.png" alt="contacto" border="0" />
                        </td>
                        <td class="footer2__content">
                            <p class="footer2__contact">@T["Contact"]</p>
                            <a>
                                <p class="footer2__email">app@ketepongo.com</p>
                            </a>
                        </td>
                    </tr>
                </table>
                <table class="footer3" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p class="footer3__text">@T["Your data are registered in a digital file property of Kefonet Software S.L. ..."]</b></p>
                            <p class="footer3__text">@T["Copyright 2020 KeTePongo, Reseverd all the rights."]</p>
                        </td>
                    </tr>

                </table>
            </footer>
        </section>
    </div>

</body>
</html>
