@using KeTePongo.Core.AppServices;
@using KeTePongo.ConsumerWebAPI.ViewModels
@model KeTePongo.ConsumerWebAPI.Models.SubOrder
<!DOCTYPE html>


<html lang="es">

@await Html.PartialAsync("./Shared/_Header.cshtml")

<body>
    <div class="wrapper">
        <header class="header">
            <table class="header__content" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="logo" align="center">
                        <img class="logo__image" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/header.png" alt="Ketepongo Header" />
                    </td>
                </tr>
            </table>
        </header>
        <section class="content">
            <table class="body-main" align="center" cellpadding="0" cellspacing="0">
                <tr class="sub-header">
                    <td class="body-main__order">
                        <p class="body-main__title">@T["Order in progress!"]</p>
                    </td>
                    <td>
                        <img class="check-illustration" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/Check-Pedido-en-marcha.png" />
                    </td>

            </table>
            <table class="products-header">
                <thead class="products-header__header">
                    <tr>
                        <th class="products-header__item">@T["Ref"].</th>
                        <th class="products-header__item">@T["PRODUCT"]</th>
                        <th class="products-header__item">@T["Quant."]</th>
                    </tr>
                </thead>
            </table>
            <table class="products">

                <tbody class="products__data">
                    @foreach (var orderLine in Model.OrderLines)
                    {
                        <tr class="products__item-row">
                            <td class="products__info-ref">@orderLine.Product.ERPId</td>
                            <td class="products__info-name">@orderLine.Product.Name</td>
                            <td class="products__info-quantity">@orderLine.Quantity</td>

                        </tr>
                        <tr class="product__item-observation">
                            <td colspan="3" class="products__info-observation">@orderLine.Observation</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="body-main__maincomments">
                <p class="maincomments__subtitle">@T["General comments"]</p>
                <p class="maincomments__paragraph">@Model.Observation</p>
            </div>
            <div class="illustration">
                <img src="https://www.pccom.es/cms/wp-content/uploads/2020/09/Ilustración-PEdido-en-marcha-e1599580208635.png" />
            </div>

            @await Html.PartialAsync("./Shared/_Footer.cshtml")

        </section>
    </div>

</body>
</html>
