@using KeTePongo.Core.AppServices;
@using KeTePongo.ConsumerWebAPI.ViewModels
@model WelcomeToConsumerCreatorEmailViewModel
<!DOCTYPE html>

<html lang="@Orchard.CultureName()" xmlns="http://www.w3.org/1999/xhtml">

@await Html.PartialAsync("./Shared/_Header.cshtml")

<body>
    <div class="wrapper">
        <header class="header">
            <table class="header__content" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="logo" align="center">
                        <img class="logo__image" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/header.png" alt="KeTePongo Header" />
                    </td>
                </tr>
            </table>
        </header>
        <section class="content">
            <table class="body-main" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="body-main__text">
                        <p class="body-main__text__title">@T["Welcome!"]</p>
                        <p class="body-main__text__subtitle">@T["You've been registered correctly<br/> at KeTePongo app."]</p>
                        <p class="body-main__text__subtitle">@T["User Information"]:</p>
                        <p class="body-main__text__paragraph">@T["User: {0}", Model.ConsumerUserProfile.Email]</p>
                    </td>
                    <td class="body-main__image">
                        <img src="https://www.pccom.es/cms/wp-content/uploads/2020/05/body.png" alt="Ketepongo body" />
                    </td>
                </tr>
            </table>
        </section>

        @await Html.PartialAsync("./Shared/_Footer.cshtml")

    </div>
</body>
</html>