@using KeTePongo.Core.AppServices;
@using KeTePongo.ProviderWebAPI.Models;
@model ProviderOrder
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

@await Html.PartialAsync("./Shared/_Header.cshtml")  

<body>
    <div class="wrapper">
        <header class="header">
            <table class="header__content" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="logo" align="center">
                        <img class="logo__image" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/cabecera-pedido-ok.png" alt="Ketepongo Header" />
                    </td>
                </tr>
            </table>
        </header>
        <section class="content">
            <table class="body-main" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="body-main__text">
                        <div class="body-main__square">
                            <p class="body-main__providername">@T["Dear"] @Model.ProviderInfoWhenOrderWasSubmitted.TradeName</p>
                            <p class="body-main__supertitle">@T["New order received"]</p>
                            <p class="body-main__text__subtitle">@T["We want to place the order with a delivery date from this day."]</p>

                            <div class="body-main__date">
                                <p class="body-main__datetext">04 / 09 / 2020</p>
                            </div>
                            <div class="body-main__consumerdata">
                                <p class="body-main__text__consumersubtitle">@T["I am"]</p>
                                <p class="body-main__text__consumername">@Model.ConsumerInfoWhenOrderWasSubmitted.TradeName</p>
                                <p class="body-main__text__consumerdata">@Model.ConsumerInfoWhenOrderWasSubmitted.Address</p>
                                <p class="body-main__text__consumerdata">@Model.ConsumerInfoWhenOrderWasSubmitted.Telephone</p>
                                <p class="body-main__text__consumerdata">@Model.ConsumerInfoWhenOrderWasSubmitted.PostalCode @Model.ConsumerInfoWhenOrderWasSubmitted.Town @Model.ConsumerInfoWhenOrderWasSubmitted.StateOrProvince </p>
                            </div>
                        </div>
                        <table class="products-header">
                            <thead class="products-header__header">
                                <tr>
                                    <th class="products-header__item">@T["Ref"].</th>
                                    <th class="products-header__item">@T["PRODUCT"]</th>
                                    <th class="products-header__item">@T["Quant."]</th>
                                </tr>
                            </thead>
                        </table>
                        <table class="products" align="center" cellpadding="0" cell>

                            <tbody class="products__data">
                                @foreach (var orderLine in Model.OrderLines)
                                {


                                    <tr class="products__item-row">
                                        @if (Model.ProviderInfoWhenOrderWasSubmitted.OID != null)
                                        {
                                            <td class="products__info-ref">@orderLine.ProviderProduct.ERPId</td>
                                            <td class="products__info-name">@orderLine.ProviderProduct.Name</td>
                                        }
                                        else
                                        {
                                            <td class="products__info-ref"> - </td>
                                            <td class="products__info-name">@orderLine.ConsumerProduct.Name</td>
                                        }
                                        <td class="products__info-quantity">@orderLine.Quantity</td>

                                    </tr>
                                    <tr class="product__item-observation">
                                        <td colspan="3" class="products__info-observation">@orderLine.Observation</td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                        <hr>
                    </td>
                </tr>
            </table>
        </section>
        
        @if (Model.ProviderInfoWhenOrderWasSubmitted.OID != null) { 
            @await Html.PartialAsync("./Shared/_WarningNotLinked.cshtml")
        }
        
        <div class="body-main__maincomments">
            <p class="maincomments__title">@T["General comments:"]</p>
            <p class="maincomments__paragraph">@Model.Observation</p>
        </div>

        @await Html.PartialAsync("./Shared/_Footer.cshtml")
    </div>

</body>
</html>

