@model KeTePongo.UsersWebAPI.ViewModels.OpenIdAppsMinVersionIndexViewModel
@using KeTePongo.Core.Extensions;
@{
    ViewData["Title"] = T["Client Apps (Minimum Version)"];
    var firstItem = Model.OpenIdAppsMinVersion.FirstOrDefault();
}

<h2>@T["Client Apps (Minimum Version)"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(modelItem => firstItem.ClientId)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstItem.DisplayName)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstItem.ClientMinVersion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OpenIdAppsMinVersion)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientMinVersion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientId">@T["Edit"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

