@model KeTePongo.ProviderWebAPI.ViewModels.ChangeUserProviderViewModel
@using KeTePongo.UsersWebAPI.Abstractions.DTOs
@{
    ViewData["Title"] = "Change User Provider";
}

<h2>Change User Provider</h2>

<p>Select target provider for user @Model.User.Name - @Model.User.Email</p>
@if (Model.CurrentProvider != null)
{ 
<p> Currently it pertains to provider @Model.CurrentProvider.OID - @Model.CurrentProvider.TradeName</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                OID
            </th>
            <th>
                Trade name
            </th>
            <th>
                Address
            </th>
            <th>
                State/Province
            </th>
            <th>
                Town
            </th>
            <th>
                PostalCode
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Providers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateOrProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                |<a asp-action="SetProviderOID" asp-all-route-data="@(new Dictionary<string,string>{{ "userName", Model.User.Name.ToString() }, { "providerOID", ((long)item.OID).ToString() } })">Select</a> |
            </td>
        </tr>
        }
    </tbody>
</table>
@await DisplayAsync(Model.Pager)
