@model KeTePongo.UsersWebAPI.ViewModels.OpenIdAppsProviderIndexViewModel
@using KeTePongo.Core.Extensions;
@{
    ViewData["Title"] = T["Client Apps (Provider)"];
    var firstItem = Model.OpenIdAppsProvider.FirstOrDefault();
}

<h2>@T["Client Apps (Provider)"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(modelItem => firstItem.ClientId)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstItem.DisplayName)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstItem.ProviderOID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OpenIdAppsProvider)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @if (item.ClientId != "KeTePongoProviderApp" && item.ClientId != "KeTePongoConsumerApp")
                    {
                        @Html.DisplayFor(modelItem => item.ProviderOID)
                    }
                </td>
                <td>
                    @if (item.ClientId != "KeTePongoProviderApp" && item.ClientId != "KeTePongoConsumerApp")
                    {
                        <a asp-action="Edit" asp-route-id="@item.ClientId">@T["Edit"]</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

