@model KeTePongo.ConsumerWebAPI.ViewModels.ConsumersIndexViewModel
@using KeTePongo.UsersWebAPI.Abstractions.DTOs
@{
    ViewData["Title"] = T["Consumers"];
}

<h2>@T["Consumers"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">@T["Create New"]</a>
</p>
@{
    var firstConsumer = Model.Consumers.FirstOrDefault();
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(modelItem => firstConsumer.IsActivated)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstConsumer.OID)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstConsumer.Code)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstConsumer.TradeName)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstConsumer.Address)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstConsumer.StateOrProvince)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstConsumer.Town)
            </th>
            <th>
                @Html.LabelFor(modelItem => firstConsumer.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Consumers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateOrProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                <a asp-area="KeTePongo.ConsumerWebAPI" asp-controller="BackOfficeConsumerUserProfiles" asp-action="Index"
                   asp-all-route-data="@(new Dictionary<string,string>{{ "consumerOID", ((int)item.OID).ToString() } })">@T["Manage Users"]</a> |
                <a asp-action="Edit" asp-route-id="@item.OID">@T["Edit"]</a> |
                <a asp-action="Delete" asp-route-id="@item.OID">@T["Delete"]</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@await DisplayAsync(Model.Pager)
