@model KeTePongo.ConsumerWebAPI.ViewModels.ConsumerInvitationValidationViewModel

@{
    ViewData["Title"] = "ConfirmInvitation";
}
@*By the momento this page is not translated cause we are waiting Raul design and html*@
@if (Model.OldConsumerTradeName != null) {
    <h1  id="mainTitle">Change Your Consumer</h1>
} else {
    <h1  id="mainTitle">WELCOME TO <b>@Model.NewConsumerTradeName</b></h1>
}
<div class="row">
    <div class="col-md">
        @if (Model.OldConsumerTradeName != null)
        {
            <h2>ACTUALMENTE PERTENECES A ESTE COMERCIO: @Model.OldConsumerTradeName</h2>
        }
        <h2>ESTÁS A PUNTO DE VINCULARTE A ESTE COMERCIO: @Model.NewConsumerTradeName</h2>
        <h3>¿ESTÁS SEGURO?</h3>
        <form asp-action="PostConsumerInvitationValidation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="OID" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Email" />
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="@T["Guardar"]" class="btn btn-primary" />
                <input type="submit" name="submit" value="@T["Cancelar"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>