@model KeTePongo.ProviderWebAPI.ViewModels.ProvidersIndexViewModel
@using KeTePongo.UsersWebAPI.Abstractions.DTOs
@{
    ViewData["Title"] = "Providers";
}

<h2>Providers</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                IsActivated
            </th>
            <th>
                OID
            </th>
            <th>
                Trade name
            </th>
            <th>
                Address
            </th>
            <th>
                State/Province
            </th>
            <th>
                Town
            </th>
            <th>
                PostalCode
            </th>
            <th>
                IsLinkedToERP
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Providers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateOrProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLinkedToERP)
            </td>
            <td>
                <a asp-area="KeTePongo.ProviderWebAPI" asp-controller="BackOfficeProviderUserProfiles" asp-action="Index"
                   asp-all-route-data="@(new Dictionary<string,string>{{ "providerOID", ((int)item.OID).ToString() } })">Manage Users</a> |
                <a asp-action="Edit" asp-all-route-data="@(new Dictionary<string,string>{{ "oid", ((long)item.OID).ToString() } })">Edit</a> |
                <a asp-action="Delete" asp-all-route-data="@(new Dictionary<string,string>{{ "oid", ((long)item.OID).ToString() } })">Delete</a> |
            </td>
        </tr>
        }
    </tbody>
</table>
@await DisplayAsync(Model.Pager)
